<mat-toolbar><strong>Activity</strong></mat-toolbar>
<kendo-grid
    #accountBillingPeriodsGrid
    id="account-billing-periods-grid"
    kendoGridSelectBy="SubscrbID"
    sortable="true"
    [data]="gridView" 
    [selectable]="selectableSettings"
    [selectedKeys]="selectedKeys"
    [sort]="sort"
    [group]="rowGroups"
    [loading]="gridLoading"
    (sortChange)="onSortChange($event)"
    (scrollBottom)="loadMoreGridData()"
>
    <kendo-grid-column [locked]="true" width="34"></kendo-grid-column>
    <!-- static groups -->
    <kendo-grid-column-group [locked]="true" headerClass="spanned-column-header">
        <kendo-grid-column field="BillPerDt" title="Bill Period" [locked]="true" width="100">
            <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                <mat-checkbox [id]="'group-' + field + value + '-chkbox'" color="primary"></mat-checkbox>
            </ng-template>
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'BillPerDt'" class="initial-sub-column-cell primary-group">
                    {{ group.value.split('-')[1] + '/' + group.value.split('-')[0] }}
                </span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="initial-sub-column-cell secondary-group"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="initial-sub-column-cell secondary-group"></span>
            </ng-template>
        </kendo-grid-column>            
    </kendo-grid-column-group>
    <kendo-grid-column-group headerClass="spanned-column-header" title="Transaction Dates">
        <kendo-grid-column field="billPeriodSpan" title="Period Span" width="150">
            <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                <mat-checkbox class="secondary-grouping-chkbox" [id]="'group-' + field + value + '-chkbox'" color="primary"></mat-checkbox>
            </ng-template>
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'BillPerDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group date-cell">
                    {{ group.items[0].billPeriodSpan }}
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="secondary-group"></span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CreatedDt" title="Record Creation" width="120">
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'BillPerDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group">
                    {{ group.items[0].CreatedDt | date: 'MM/dd/yyyy' }}
                </span>    
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.CreatedDt | date: 'MM/dd/yyyy' }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="UpdatedDt" title="Updated" width="120">
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'BillPerDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group">
                    {{ group.items[0].UpdatedDt | date: 'MM/dd/yyyy' }}
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.UpdatedDt | date: 'MM/dd/yyyy' }}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid-column-group>
    <!-- dynamic columns -->
    <ng-container *ngFor="let columnGroup of dynamicColumnGroups">
        <kendo-grid-column-group headerClass="spanned-column-header" [title]="columnGroup.Label">
            <ng-container *ngFor="let subColumn of columnGroup.SubHeader, let i = index">
                <kendo-grid-column [field]="subColumn.Name" [title]="subColumn.Label" width="120">
                    <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                        <span [ngClass]="{'initial-sub-column-cell': i === 0, 'number-cell': true, 'primary-group': group.field === 'BillPerDt', 'secondary-group': group.field === 'billPeriodSpan'}">
                            <span>{{ (group.field === 'BillPerDt' ? '' : getSummaryAmount(group, subColumn)) | currency: 'USD' }}</span>
                        </span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span [ngClass]="{'initial-sub-column-cell': i === 0, 'number-cell': true, 'data-cell': true}">
                            <span>{{ getFieldAmount(dataItem, subColumn) | currency: 'USD' }}</span>
                        </span>
                    </ng-template>
                </kendo-grid-column>            
            </ng-container>
        </kendo-grid-column-group>
    </ng-container>
</kendo-grid>
