<mat-toolbar>
    <strong>Activity</strong>
    <mat-checkbox color="primary" class="activity-checkbox-group" (change)="toggleVoidedRows()">Include Voided Rows</mat-checkbox>
    <span class="spacer"></span>
    <button 
        mat-button
        class="custom-dropdown-trigger"
        id="activity-columns-dropdown-btn" 
        (click)="showCustomDropdown($event.target, columnsDropdownTemplate)"
    >
        <i class="fa fa-list-ul" aria-hidden="true"></i> Columns <i class="fa fa-caret-down icon-flip" aria-hidden="true"></i>
    </button>
    <ng-template #columnsDropdownTemplate>
        <ar-mgr-ui-column-selection
            [columns]="columns"
            [columnsToggle]="true"
            showColumnsText="Expand All Columns"
            hideColumnsText="Collapse All Columns"
            (selectionChange)="onColumnSelectionChange($event)">
        </ar-mgr-ui-column-selection>
    </ng-template>
</mat-toolbar>
<ng-template #billPeriodFilterTemplate>
    <ar-mgr-ui-bill-period-filter
        [billPeriodYears]="billPeriodYears"
        [currentFilter]="currentFilter"
        [defaultFilter]="defaultFilter"
        filterProperty="blngStmtDt"
        (filterChange)="onFilterChange($event)"
    ></ar-mgr-ui-bill-period-filter>
</ng-template>
<kendo-grid
    #accountBillingPeriodsGrid
    id="account-billing-periods-grid"
    kendoGridSelectBy="SubscrbID"
    [data]="gridView" 
    [selectable]="selectableSettings"
    [selectedKeys]="selectedKeys"
    [sort]="sort"
    [sortable]="sortableSettings"
    [group]="rowGroups"
    [filterable]="true"
    [loading]="gridLoading"
    (sortChange)="onActivitySortChange($event)"
    (scrollBottom)="loadMoreGridData()"
    (groupExpand)="onGroupExpand($event)"
>
    <ng-template kendoGridNoRecordsTemplate>
        {{ gridData.length === 0 && gridLoading === false ? 'No records available.' : ''}}
    </ng-template>
    <!-- static groups -->
    <kendo-grid-column-group [locked]="true" headerClass="spanned-column-header">
        <ng-template kendoGridHeaderTemplate>
            <div class="collapsible-column-group">
                Transaction Dates
                <span class="spacer"></span>
                <i
                    id="show-transaction-dates-group"
                    [ngClass]="{'fa fa-plus-square': true, hidden: !isHiddenColumn('TRANSACTION_DATES')}"
                    aria-label="Toggle Transaction Dates group"
                    (click)="toggleColumnGroup('TRANSACTION_DATES')"
                ></i>
            </div>
        </ng-template>
        <kendo-grid-column field="blngStmtDt" title="Bill Period" width="130">
            <ng-template kendoGridFilterCellTemplate let-column="column">
                <input 
                    id="bill-period-filter-input"
                    matInput
                    class="filter-input"
                    mask="0000"
                    [formControl]="billPeriodFilterControl"
                >
            </ng-template>
            <ng-template kendoGridGroupHeaderTemplate let-group="group">
                <span *ngIf="group.field === 'blngStmtDt'" class="initial-sub-column-cell">
                    {{ group.value.split('-')[1] + '/' + group.value.split('-')[0] }}
                </span>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-column="column">
                {{ column.title }}
                <span class="filter-menu-button-container">
                    <button
                        mat-button
                        [ngClass]="{'custom-dropdown-trigger': true, 'filter-menu-button': true, 'filtered': currentFilter !== defaultFilter}"
                        (click)="openFilterMenu($event.target);$event.preventDefault()"
                    >
                        <i class="fa fa-ellipsis-v" aria-label="Toggler Filter Menu"></i>
                    </button>
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="initial-sub-column-cell"></span>
            </ng-template>
        </kendo-grid-column>            
    </kendo-grid-column-group>
    <kendo-grid-column-group headerClass="spanned-column-header">
        <ng-template kendoGridHeaderTemplate>
            <div class="collapsible-column-group">
                <span class="spacer"></span>
                <i
                    id="hide-transaction-dates-group"
                    class="fa fa-minus-square"
                    aria-label="Toggle Transaction Dates group"
                    (click)="toggleColumnGroup('TRANSACTION_DATES')"
                ></i>
            </div>
        </ng-template>
        <kendo-grid-column
            field="billPeriodSpan"
            title="Period Span"
            width="150"
            [hidden]="isHiddenColumn('billPeriodSpan', 'TRANSACTION_DATES')"
            [sortable]="false"
        >
            <ng-template kendoGridFilterCellTemplate></ng-template>
            <ng-template kendoGridGroupHeaderTemplate let-index="index" let-group="group" let-expanded="expanded">
                <div class="secondary-row">
                    <a [class.hidden-expand]="!group.items[0].transactions" (click)="toggleGroup(index, group, expanded)">
                        <i [ngClass]="{'fa':true, 'fa-chevron-right':true, 'expanded':expanded}" aria-hidden="true"></i>
                    </a>
                </div>
            </ng-template>
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'blngStmtDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group">
                    {{ group.items[0].billPeriodSpan }}
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="secondary-group"></span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
            field="CreatedDt"
            title="Record Creation"
            width="120"
            [hidden]="isHiddenColumn('CreatedDt', 'TRANSACTION_DATES')"
            [sortable]="false"
        >
            <ng-template kendoGridFilterCellTemplate></ng-template>
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'blngStmtDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group">
                    {{ group.items[0].CreatedDt | date: 'MM/dd/yyyy' }}
                </span>    
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.CreatedDt | date: 'MM/dd/yyyy' }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
            field="UpdateDt"
            title="Updated"
            width="120"
            [hidden]="isHiddenColumn('UpdateDt', 'TRANSACTION_DATES')"
            [sortable]="false"
        >
            <ng-template kendoGridFilterCellTemplate></ng-template>
            <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                <span *ngIf="group.field === 'blngStmtDt'" class="primary-group"></span>
                <span *ngIf="group.field === 'billPeriodSpan'" class="secondary-group">
                    {{ group.items[0].UpdateDt | date: 'MM/dd/yyyy' }}
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.UpdateDt | date: 'MM/dd/yyyy' }}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid-column-group>
    <!-- dynamic columns -->
    <ng-container *ngFor="let columnGroup of dynamicColumnGroups">
        <kendo-grid-column-group headerClass="spanned-column-header" [title]="columnGroup.Label">
            <ng-template kendoGridHeaderTemplate>
                <div class="collapsible-column-group">
                    {{ columnGroup.Label }}
                    <span class="spacer"></span>
                    <i
                        [id]="'toggle-' + columnGroup.Name + '-group'"
                        [ngClass]="{'fa': true, 'fa-plus-square': isHiddenColumn(columnGroup.Name), 'fa-minus-square': !isHiddenColumn(columnGroup.Name)}"
                        [attr.aria-label]="'Toggle ' + columnGroup.Label + ' group'"
                        (click)="toggleColumnGroup(columnGroup.Name)"
                    ></i>
                </div>
            </ng-template>
            <ng-container *ngFor="let subColumn of columnGroup.SubHeader, let i = index">
                <kendo-grid-column
                    [field]="subColumn.Name"
                    [title]="subColumn.Label"
                    [width]="subColumn.Name === 'TxnType' ? 130 : 120"
                    [hidden]="isHiddenColumn(subColumn.Name, columnGroup.Name)"
                    [sortable]="false"
                    [class]="i === 0 ? 'initial-transaction-cell' : ''"
                >
                    <ng-template kendoGridFilterCellTemplate></ng-template>
                    <ng-template kendoGridGroupHeaderColumnTemplate let-group="group">
                        <span [ngClass]="groupCellDataMap.get(group.value + columnGroup.Name + subColumn.Name + 'GroupCellClasses') || getGroupCellClasses(i, group, columnGroup.Name, subColumn)">
                            <span>{{ group.field === 'blngStmtDt' ? '' : groupCellDataMap.get(group.value + columnGroup.Name + subColumn.Name) }}</span>
                        </span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span [ngClass]="{'number-cell': columnGroup.Name !== 'DETAILS'}">
                            <span>
                                {{ getConvertedFieldValue(dataItem[subColumn.Mapping]) }}
                            </span>
                        </span>
                    </ng-template>
                </kendo-grid-column>
            </ng-container>
        </kendo-grid-column-group>
    </ng-container>
</kendo-grid>
