initiative: nextgen
application: premium-billing

replicaCount: 2

baseImageRegistry: docker-registry.default.svc:5000
imageRegistryNamespace: app-premium-billing
repoURL: wcgartifactory-docker.jfrog.io
clusterID: wc-sb01
conjurAccount: wellcare
conjurHostID: authn-k8s/tampa

imageStreams:
  service:
    name: pb-ar-ui
    pullPolicy: Always
  nginxPromExp:
      tag: 0.5.0
prometheusPath: /metrics
prometheusPort: 9081

service:
  httpPort: 8081
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    name: http

ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts: {}

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

env:
    service:

conjurSecrets: {}

resources:
 limits:
   cpu: 200m
   memory: 500M
 requests:
   cpu: 10m
   memory: 32M

readinessProbe:
  initialDelaySeconds: 25
  periodSeconds: 3
  path: /
  port: 8081
livenessProbe:
  initialDelaySeconds: 25
  periodSeconds: 3
  path: /
  port: 8081

nodeSelector: {}

tolerations: []

affinity: {}

deploymentStrategy:
  revisionHistoryLimit: 3
  maxSurge: 1
  maxUnavailable: 1
  type: RollingUpdate

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
