<mat-toolbar>
  <i
    class="fa expansion-toggle"
    id="invoice-search-toggle"
    [class.expanded]="expandSearchCard"
    aria-label="Expand user card"
    (click)="toggleSearchCard()"
  ></i>
  <span class="toolbar-title">Search - Invoice</span>
</mat-toolbar>

<div class="search-container" [class.expanded]="expandSearchCard">
  <div class="search-card">
    <form [formGroup]="invoiceSearchForm" (keydown.enter)="submitSearchCriteria($event)">
      <div class="search-field-row">
        <!--IssuerId-->
        <mat-form-field>
          <input
            matInput
            id="issuer-id"
            placeholder="Issuer ID"
            [formControl]="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID')"
          >
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="clearField('primaryForm.ISSUERSUBCRBID')"
            *ngIf="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID').value"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>

        <!--Firstname-->
        <mat-form-field>
          <input
            matInput
            id="invoice-search-first-name"
            placeholder="First Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME')"
          >
          <button
            matSuffix
            mat-icon-button type="button"
            (click)="clearField('secondaryForm.SUBCRBFIRSTNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME').value"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>

        <!--Middlename-->
        <mat-form-field>
          <input
            matInput
            id="invoice-search-middle-name"
            placeholder="Middle Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBMIDNAME')"
          >
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="clearField('secondaryForm.SUBCRBMIDNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBMIDNAME').value"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBMIDNAME').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>

        <!--Lastname-->
        <mat-form-field>
          <input
            matInput
            id="invoice-search-last-name"
            placeholder="Last Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME')"
          >
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="clearField('secondaryForm.SUBCRBLASTNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME').value"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row search-field-row">
        <!--CreateDateFrom-->
        <mat-form-field
          [ngClass]="{
            'date-form': true,
            'date-form-error': invoiceSearchForm.get('secondaryForm.FROMCREATEDT').hasError('greaterThan')
          }"
        >
          <mat-label>Create Date From</mat-label>
          <!-- hidden input for datepicker input -->
          <input
            [matDatepicker]="invoiceSearchDateFrom"
            [hidden]="true"
            (dateChange)="onDateChange($event, 'FROMCREATEDT' )"
            [formControl]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT')"
          >
          <!-- visible input for mask input-->
          <input
            matInput
            [value]="createDateFromValue"
            placeholder="MM/DD/YYYY"
            [disabled]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').disabled"
            mask="00/00/0000"
            (keyup)="onDateKeyUp($event, 'FROMCREATEDT')"
          >
          <button
            matSuffix mat-icon-button
            type="button"
            class="dob-clear"
            (click)="clearField('secondaryForm.FROMCREATEDT')"
            *ngIf="createDateFromValue"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
          <mat-datepicker-toggle
            matSuffix
            [for]="invoiceSearchDateFrom"
            [disabled]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').disabled"
          >
          </mat-datepicker-toggle>
          <mat-datepicker #invoiceSearchDateFrom></mat-datepicker>
          <span class="date-error" *ngIf="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').hasError('greaterThan')">
            From Date cannot be after To Date
          </span>
        </mat-form-field>

        <!--Create Date To-->
        <mat-form-field
          [ngClass]="{
            'date-form': true,
            'date-form-error': invoiceSearchForm.get('secondaryForm.TOCREATEDT').hasError('greaterThan')
          }"
        >
          <mat-label>Create Date To</mat-label>
          <!-- hidden input for datepicker input -->
          <input
            [matDatepicker]="invoiceSearchDateTo"
            [hidden]="true"
            (dateChange)="onDateChange($event, 'TOCREATEDT')"
            [formControl]="invoiceSearchForm.get('secondaryForm.TOCREATEDT')"
          >
          <!-- visible input for mask input-->
          <input
            matInput
            [value]="createDateToValue"
            placeholder="MM/DD/YYYY"
            [disabled]="invoiceSearchForm.get('secondaryForm.TOCREATEDT').disabled"
            mask="00/00/0000"
            (keyup)="onDateKeyUp($event, 'TOCREATEDT')"
          >
          <button
            matSuffix
            mat-icon-button
            type="button"
            class="dob-clear"
            (click)="clearField('secondaryForm.TOCREATEDT')"
            *ngIf="createDateToValue"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>

          <mat-datepicker-toggle matSuffix [for]="invoiceSearchDateTo"
            [disabled]="this.invoiceSearchForm.get('secondaryForm.TOCREATEDT').disabled ">
          </mat-datepicker-toggle>
          <mat-datepicker #invoiceSearchDateTo></mat-datepicker>
          <span class="date-error" *ngIf="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').hasError('greaterThan')">
            To Date cannot be before From Date
          </span>
        </mat-form-field>

        <!--InvoiceID-->
        <mat-form-field>
          <input
            matInput
            id="invoice-id"
            placeholder="Invoice ID"
            [formControl]="invoiceSearchForm.get('primaryForm.INVOICEID')"
          >
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="clearField('primaryForm.INVOICEID')"
            *ngIf="invoiceSearchForm.get('primaryForm.INVOICEID').value"
            [disabled]="invoiceSearchForm.disabled"
          >
            <i class="fa fa-times"></i>
          </button>
        </mat-form-field>

        <div class="button-group-horizontal text-display">
          <button
            mat-button id="invoice-search-clear-btn"
            type="button"
            (click)="resetSearchCriteria()"
            [disabled]="!invoiceSearchForm.dirty || invoiceSearchForm.disabled"
          >
            <i class="fa fa-times" aria-hidden="true"></i> Clear All
          </button>
          <span
            [matTooltip]="invoiceSearchForm.hasError('searchCriteria') ? 'User must enter either a unique identifier or at least two member information values' : ''"
          >
            <button
              mat-raised-button id="invoice-search-submit-btn"
              type="submit"
              color="primary"
              (click)="submitSearchCriteria()"
              [disabled]="!invoiceSearchForm.dirty || invoiceSearchForm.invalid || invoiceSearchForm.disabled"
            >
              <i
                class="fa"
                aria-hidden="true"
                [class.fa-search]="!invoiceSearchForm.disabled"
                [class.fa-spinner]="invoiceSearchForm.disabled"
                [class.fa-spin]="invoiceSearchForm.disabled"
              ></i>
              Search
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="!!showSearchResults">
  <mat-toolbar>
    <span class="toolbar-title">Invoice Search Results</span>
    <span>
      <mat-checkbox class="check-box-align" [checked]="true" (change)="displayRecindedItems($event.checked)"
        color="primary">Include Recinded Items</mat-checkbox>
    </span>
  </mat-toolbar>
  <kendo-grid
    class="notes-grid"
    id="ar-mgr-ui-invoice-search-results"
    [data]="gridData"
    [rowClass]="recindedRecord"
    (scrollBottom)="loadMoreGridData()"
  >
    <kendo-grid-column field="SubscrbID" title="Issuer ID">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a
          [id]="'invoice-search-sub-id-' + dataItem.SubscrbID"
          routerLink="/ar-mgr-ui/account-search/details/{{dataItem.SubscrbID}}"
        >
          {{ dataItem.SubscrbID }}
        </a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="FirstName" title="First Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.FirstName | uppercase }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="MidName" title="Middle Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.MidName | uppercase }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="LastName" title="Last Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.LastName | uppercase }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="InvoiceCreateDate" title="Create Date">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.InvoiceCreateDate | date: 'dd/yyyy' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="InvoiceId" title="Invoice ID">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a [id]="'invoice-search-invoice-id-' + dataItem.InvoiceId">{{ dataItem.InvoiceId }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="InvoiceType" title="Invoice Type"></kendo-grid-column>
    <kendo-grid-column field="status" title="Status"></kendo-grid-column>
    <kendo-grid-column field="TtlAmtDue" title="Total Amount Due" class="number-cell">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.TtlAmtDue | currency: 'USD' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Notes" width="60" class="notes-column">
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-index="rowIndex"
      >
        <span class="notes-button-container" [ngClass]="{'notes-selected': this.notesMap.get(index)}">
          <button mat-icon-button class="notes-button" id="invoice-notes-btn" (click)="showNotes(index)">
            <i class="fa fa-comment" aria-hidden="true"></i>
          </button>
        </span>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <ss-notes-ui-notes-invoice-cmpnt [recPrimId]="dataItem.InvoiceId"></ss-notes-ui-notes-invoice-cmpnt>
    </ng-template>
  </kendo-grid>
</ng-container>