<mat-toolbar>
  <i class="fa expansion-toggle" id="invoice-search-toggle" [class.expanded]="expandSearchCard"
    aria-label="Expand user card" (click)="toggleSearchCard()"></i>
  <span class="toolbar-title">Search - Invoice</span>
</mat-toolbar>

<div class="invoice-search-container" [class.expanded]="expandSearchCard">
  <div class="invoice-search-card">
    <form [formGroup]="invoiceSearchForm" (keydown.enter)="submitSearchCriteria($event)">
      <div class="invoice-search-field-row">
        <!--IssuerId-->
        <mat-form-field>
          <input matInput id="issuer-id" placeholder="Issuer ID"
            [formControl]="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID')">
          <button matSuffix mat-icon-button type="button" (click)="clearField('primaryForm.ISSUERSUBCRBID')"
            *ngIf="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID').value" [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('primaryForm.ISSUERSUBCRBID').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>

        <!--Firstname-->
        <mat-form-field>
          <input matInput id="invoice-search-first-name" placeholder="First Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME')">
          <button matSuffix mat-icon-button type="button" (click)="clearField('secondaryForm.SUBCRBFIRSTNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME').value" [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBFIRSTNAME').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>

        <!--Middlename-->
        <mat-form-field>
          <input matInput id="invoice-search-middle-name" placeholder="Middle Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBMIDNAME')">
          <button matSuffix mat-icon-button type="button" (click)="clearField('secondaryForm.SUBCRBMIDNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBMIDNAME').value" [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
        </mat-form-field>
        
        <!--Lastname-->
        <mat-form-field>
          <input matInput id="invoice-search-last-name" placeholder="Last Name"
            [formControl]="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME')">
          <button matSuffix mat-icon-button type="button" (click)="clearField('secondaryForm.SUBCRBLASTNAME')"
            *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME').value" [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
          <mat-error *ngIf="invoiceSearchForm.get('secondaryForm.SUBCRBLASTNAME').hasError('invalidLength')">
            Input must be at least 2 characters
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row invoice-search-field-row">
        <!--CreateDateFrom-->
        <mat-form-field>
          <mat-label>Create Date From</mat-label>
          <!-- hidden input for datepicker input -->
          <input [matDatepicker]="invoiceSearchDateFrom" [hidden]="true" (dateChange)="onDateChange($event, 'FROMCREATEDT' )"
            [formControl]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT')">
          <!-- visible input for mask input-->
          <input matInput [value]="createDateFromValue" placeholder="MM/DD/YYYY"
            [disabled]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').disabled" mask="00/00/0000"
            (keyup)="onDateKeyUp($event, 'FROMCREATEDT')">
          <button matSuffix mat-icon-button type="button" id="create-date-from-clear"
            (click)="clearField('secondaryForm.FROMCREATEDT')" *ngIf="createDateFromValue"
            [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
          <mat-datepicker-toggle matSuffix [for]="invoiceSearchDateFrom"
            [disabled]="invoiceSearchForm.get('secondaryForm.FROMCREATEDT').disabled">
          </mat-datepicker-toggle>
          <mat-datepicker #invoiceSearchDateFrom></mat-datepicker>
        </mat-form-field>

        <!--Create Date To-->
        <mat-form-field>
          <mat-label>Create Date To</mat-label>
          <!-- hidden input for datepicker input -->
          <input [matDatepicker]="invoiceSearchDateTo" [hidden]="true" (dateChange)="onDateChange($event, 'TOCREATEDT')"
            [formControl]="invoiceSearchForm.get('secondaryForm.TOCREATEDT')">
          <!-- visible input for mask input-->
          <input matInput [value]="createDateToValue" placeholder="MM/DD/YYYY"
            [disabled]="invoiceSearchForm.get('secondaryForm.TOCREATEDT').disabled" mask="00/00/0000"
            (keyup)="onDateKeyUp($event, 'TOCREATEDT')">
          <button matSuffix mat-icon-button type="button" id="create-date-to-clear"
            (click)="clearField('secondaryForm.TOCREATEDT')" *ngIf="createDateToValue"
            [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
          <mat-datepicker-toggle matSuffix [for]="invoiceSearchDateTo"
            [disabled]="invoiceSearchForm.get('secondaryForm.TOCREATEDT').disabled">
          </mat-datepicker-toggle>
          <mat-datepicker #invoiceSearchDateTo></mat-datepicker>
        </mat-form-field>

        <!--InvoiceID-->
        <mat-form-field>
          <input matInput id="invoice-id" placeholder="Invoice ID"
            [formControl]="invoiceSearchForm.get('primaryForm.INVOICEID')">
          <button matSuffix mat-icon-button type="button" (click)="clearField('primaryForm.INVOICEID')"
            *ngIf="invoiceSearchForm.get('primaryForm.INVOICEID').value" [disabled]="invoiceSearchForm.disabled">
            <i class="fa fa-times"></i>
          </button>
        </mat-form-field>
        
        <div class="button-group-horizontal text-display">
            <button mat-button id="invoice-search-clear-btn" type="button" (click)="resetSearchCriteria()"
              [disabled]="!invoiceSearchForm.dirty || invoiceSearchForm.disabled">
              <i class="fa fa-times" aria-hidden="true"></i> Clear All
            </button>
            <span
              [matTooltip]="invoiceSearchForm.hasError('searchCriteria') ? 'User must enter either a unique identifier or at least two member information values' : ''">
              <button mat-raised-button id="invoice-search-submit-btn" type="submit" color="primary" (click)="submitSearchCriteria()"
                [disabled]="!invoiceSearchForm.dirty || invoiceSearchForm.invalid || invoiceSearchForm.disabled">
                <i class="fa" aria-hidden="true" [class.fa-search]="!invoiceSearchForm.disabled"
                  [class.fa-spinner]="invoiceSearchForm.disabled" [class.fa-spin]="invoiceSearchForm.disabled"></i>
                Search
              </button>
            </span> 
        </div>
      </div>
    </form>
  </div>
</div>