ar-mgr-ui {
    @mixin flexColumn() {
        display: flex;
        flex-direction: column;
    }
    @mixin fillerCell() {
        padding: 20px 200px 20px 12px;
        margin-left: -12px;
    }

    @include flexColumn();
    $brandColor: #107ba4;
    $brandColorOne: #024069;
    $grayLightest: #f2f2f2;
    $grayLight: #e0e0e0;
    $gray: #bdbdbd;
    $grayOpacityLight: rgba(0, 0, 0, 0.05);
    $grayOpacity: rgba(0, 0, 0, 0.12);
    $cellBorder: 1px solid $gray;
    height: 100%;

    .mat-raised-button.mat-primary:hover:not([disabled]) {
        background-color: $brandColorOne;
    }

    .web-component-flex {
        @include flexColumn();
        flex: 1;
    }

    .workbench-header {
        display: flex;
        flex-direction: column;
        margin: 0 auto 8px auto;
        user-select: none;

        .workbench-title {
            color: #fff;
            background-color: $brandColorOne;
            padding: 8px 28px 5px 28px;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 24px;
        } 
        
        .workbench-curve {
            background-color: $brandColorOne;
            padding: 11px;
            border-radius: 0 0 100% 100%;
            margin-top: -10px;
        }    
    }
    
    .side-padding {
        padding: 0 32px;
    }

    mat-toolbar.mat-toolbar.mat-toolbar-single-row {
        padding: 0;

        .fa {
            color: $brandColor;
            transition: all 0.2s;
        }
    }

    kendo-grid {
        // fixes flex to page issue
        height: 0px;
    }

    mat-tab-group.mat-tab-group {
        flex: 1;

        .mat-tab-header .mat-tab-header-pagination.mat-tab-header-pagination {
            display: none;
        }

        .mat-tab-body-wrapper {
            flex: 1;

            .mat-tab-body-content {
                @include flexColumn();
            }
        }

        .mat-tab-labels {
            justify-content: flex-end;

            .mat-tab-label {
                font: 14px Calibri;
                font-weight: 600;
                padding: 0 12px;
                min-width: 100px;
                opacity: 1;
    
                .fa {
                    color: $brandColor;
                }

                // for tab group header
                &:first-child {
                    flex: 1;
                    justify-content: flex-start;
                    padding: 0;
                }
            }
    
            .mat-tab-label-active {
                color: $brandColorOne;
            }

            .tab-group-header {
                font: 18px Calibri;
                font-weight: 500;
                color: #333;

                .tab-group-title {
                    font: 20px Calibri;
                    font-weight: 600;
                }
            }
        }

        .mat-ink-bar {
            height: 3px;
        }
    }

    .mat-form-field {
        font: 16px Calibri;
        box-sizing: border-box;

        .mat-form-field-infix {
            width: auto;
        }
    }

    .account-ribbon {
        display: flex;
        padding-top: 24px;

        .mat-form-field {
            flex: 1;

            ~ .mat-form-field {
                padding-left: 24px;
            }
        }
    }

    .account-search-container {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s;

        &.expanded {
            max-height: 300px;
            transition: all 0.2s;
        }

        .account-search-card {
            border: $cellBorder;
            background-color: $grayLightest;
            padding: 12px;

            .account-search-field-row {
                display: flex;
                align-items: baseline;

                &:first-child {
                    padding-top: 6px;
                }

                .mat-form-field {
                    flex: 0 20%;
                    padding: 6px 12px;
                }
    
                .mat-icon-button {
                    color: #333;
                }

                #account-search-dob-clear {
                    margin-right: 31px;
                }

                .last-form-field {
                    padding: 6px 0 6px 12px;
                }
    
                &.long-field, .long-field {
                    flex: 0 40%;
                }
    
                .button-group-horizontal {
                    padding: 6px 12px 6px 0;

                    button ~ span {
                        margin-left: 8px;
                    }
                }
            }    
        }
    }

    .fa.expansion-toggle {
        transition: transform 0.2s;
        cursor: pointer;

        &:after {
            content: '\f138';
            font-size: 22px;
            margin: 0 6px;            
        }

        &.expanded {
            transform: rotate(90deg);
            transition: transform 0.2s;
        }
    }

    .custom-dropdown-trigger {
        &.custom-dropdown-opened {
            .icon-flip {
                transform: rotate(180deg);
                transition: all 0.2s;
            }
        }
    }

    .k-grid {
        .k-grid-header .k-header {
            border-color: $gray;
        }
        .k-grid-header-locked, .k-grid-content-locked {
            border-right: $cellBorder;
        }
        tr {
            &.k-detail-row {
                background-color: $grayLight;
    
                &:hover {
                    background-color: $grayLight;
                }
    
                tr:last-child td {
                    border-bottom-width: 0;
                }
    
                td {
                    border-bottom-width: 1px;
    
                    &.k-detail-cell {
                        padding: 12px 0;
    
                        .detail-card {
                            .k-grid {
                                height: auto;
                                margin-right: 12px;
                            }
                        }
                    }
    
                    thead {
                        tr:hover {
                            background-color: darken($grayLightest, 2%);
                        }
                    }
                }
            }
            &.k-grouping-row {
                td {
                    .k-reset {
                        margin-left: -4px;

                        .k-icon {
                            color: $brandColor;
                            outline: none;
                            margin: 0;
                        }
                
                        .k-i-expand:before, .k-i-collapse:before {
                            content: '\f054';
                            font-family: FontAwesome;                   
                        }
                
                        .k-i-expand, .k-i-collapse {
                            transition: all 0.2s;
                            transform-origin: 35% 65%;
                        }
            
                        .k-i-collapse {
                            transform: rotate(90deg);
                            transform-origin: 35% 65%;
                            margin-top: -5px;
                        }

                        .mat-checkbox {
                            margin: 0 8px;
                            border-right: $cellBorder;
                            border-left: $cellBorder;
                            padding: 12px 8px 12px 7px;

                            &.secondary-grouping-chkbox {
                                margin: 0 1px 0 7px;
                                padding: 12px 7px 12px 9px;
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }
        td {
            // border colors have been updated, will need to change in core
            border-color: $gray;

            &.k-hierarchy-cell {
                .k-icon {
                    color: $brandColor;
                }
        
                .k-plus:before, .k-minus:before {
                    content: '\f054';
                    font-family: FontAwesome;                   
                }
        
                .k-plus, .k-minus {
                    transition: all 0.2s; 
                }
    
                .k-minus {
                    transform: rotate(90deg);
                }
            }
        }
        // adding user icon to account search results dependent hierarchy cell
        &.k-grid#account-search-results {
            tr.k-detail-row {
                td.k-hierarchy-cell {
                    vertical-align: top;
                    padding-top: 23px;

                    &:after {
                        content: '\f2c0';
                        font-family: FontAwesome;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
        &#account-billing-periods-grid {
            .k-grid-aria-root {
                margin-left: -33px;
            }
            .k-grid-header {
                border-bottom: 1px solid $gray;

                .k-grid-header-locked, .k-grid-header-wrap {
                    background-color: white;
                }
                .k-grid-header-locked {
                    tr {
                        &:first-child, &:nth-child(3) {
                            th:nth-child(3), td:nth-child(3) {
                                border-left: none;
                            }
                        }
                        &.k-filter-row {
                            td {
                                &:nth-child(2):after {
                                    content: '\f0b0';
                                    font-family: FontAwesome;
                                    font-size: 16px;
                                    color: #828282;
                                    margin-left: -3px;
                                }
                            }
                        }
                    }
                }
                .k-grid-header-wrap {
                    table {
                        border-right: $cellBorder;
                    }
                }
            }
            thead tr {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.02);
                }
                &.k-filter-row {
                    background-color: rgba(16, 123, 164, 0.1);
                    box-shadow: inset 0 -19px 5px -15px rgba(0,0,0,0.14);
                    text-align: right;
                    color: #333;

                    td {
                        padding: 6px 12px;

                        .filter-input {
                            text-align: left;
                            border: $cellBorder;
                            background-color: white;
                            padding: 5px;
                            box-sizing: border-box;
                        }
                    }
                }
                .collapsible-column-group {
                    display: flex;
                    align-items: center;
                    .fa {
                        color: $brandColor;
                        cursor: pointer;

                        &.hidden {
                            display: none;
                        }
                    }
                }
                .spanned-column-header {
                    background-color: $grayOpacity;
                }
                th {
                    background-color: $grayOpacityLight;

                    .k-i-sort-asc-sm, .k-i-sort-desc-sm {
                        vertical-align: bottom;
                    }
                    
                    .fa {
                        color: $brandColor;  
                    }

                    button.filter-menu-button {
                        position: absolute;
                        right: 6px;
                        top: 11px;
                        padding: 3px 8px;
                        border: none;
                        cursor: pointer;

                        &:focus, &:hover {
                            background-color: $grayOpacityLight;
                            outline: none;
                        }
                    }
                }
            }
            .k-grid-content-locked {
                tr {
                    td {
                        background-color: $grayOpacity;
                    }
                    &.k-grouping-row {
                        td:nth-child(3) {
                            background-color: rgba(0, 0, 0, 0.097);
                        }
                    }
                    &:not(.k-grouping-row) {
                        td {
                            &:nth-child(3) {
                                border-left: none;
                            }
                            &:nth-child(4) {
                                background-color: rgba(0, 0, 0, 0.097);
                            }
                        }
                    }
                }
            }
            .k-grid-content {
                .k-grid-table {
                    border-right: $cellBorder;
                }
            }
            td {
                overflow: hidden;
                text-overflow: clip;
                white-space: nowrap;

                .primary-group {
                    background-color: $grayOpacity;
                    @include fillerCell();
                }
                .secondary-group {
                    background-color: $grayOpacityLight;
                    @include fillerCell();
                }
                .number-cell {
                    position: relative;
                    padding: 20px 108px 20px 12px;
                    
                    &:not(.primary-group), &:not(.secondary-group) {
                        margin-left: -12px;
                    }
                    span {
                        position: absolute;
                        right: 12px;
                    }
                }
                .initial-sub-column-cell {
                    font-weight: 600;

                    &.data-cell {
                        background-color: $grayOpacityLight;
                    }
                    &.secondary-group {
                        background-color: rgba(0, 0, 0, 0.097);
                    }
                }
            }
            tr {
                &.k-grouping-row {
                    + tr:not(.k-grouping-row) {
                        display: none;
                    }
                    td {
                        padding: 3px 0 3px 12px;

                        .secondary-row {
                            height: 33px;
                        }
                    }
                }
                &.mutual-highlight {
                    background-color: rgba(16, 123, 164, 0.1);
                }
            }
        }
    }
}

// overlays are outside of the ar-mgr-ui element
// added 'ar-mgr-ui' text to checkbox dropdown class so it won't affect anything outside of ar-mgr-ui
.ar-mgr-ui-checkbox-dropdown {
    background-color: white;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    &.bill-period-filter {
        overflow: inherit;

        .selection-container {
            max-height: 200px;
            overflow-y: auto;
        }

        .filter-section {
            padding: 10px;
            text-align: center;

            input {
                font: 12px Calibri;
                border: 1px solid #bdbdbd;
                background-color: white;
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
        }
    }
    .mat-checkbox {
        margin-top: 4px;
        padding: 0px 64px 4px 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        &:last-child {
            border: none;
        }

        &.child-checkbox {
            padding-left: 40px;
        }

        .mat-checkbox-label {
            font-weight: 600;
            font-family: Calibri;
            color: #024069;
        }

        .mat-checkbox-ripple {
            display: none;
        }
    }
    button.mat-button {
        font-family: Calibri;

        &.selection-item {
            text-align: left;
            padding-left: 16px;
            color: #024069;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .fa {
                font-size: 18px;
                margin-right: 5px;
                color: #107ba4;
            }
    
            &:hover {
                background: none;
            }    
        }
    }
}
