.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1.5rem;
}

.fa {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #107ba4;
}

.no-records {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}